$primary-color: #3f51b5;

.app {
	text-align: center;
	min-height: 100vh;
	display: flex;
	justify-content: space-between;
	flex-direction: column;

	h1 {
		color: $primary-color;
	}
}

.mainContent {
	height: 100%;
}

.repositoryTable {
	display: flex;
}

.detailsHello {
	flex: 1 !important;

	display: flex;
	flex-wrap: wrap;
    justify-content: center;
    align-content: center;

	font-size: 14px;
    font-weight: 400;

    color: #4F4F4F;
    background-color: #F2F2F2;
}
