.hi_container {
    height:86.7vh;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #FFFFFF;

    .hi_text {
        font-size: 46px;
        font-weight: 400;
        color: #4f4f4f;
    }
}