.header {
  padding: 19px 32px;

  background-color: #00838f;

  &__container {
    max-width: 1000px;
    display: flex;
    gap: 8px;
  }
}

#fullWidth {
  padding: 16px 9px;
  border-radius: 4px;

  font-size: 14px;

  background-color: #f2f2f2;

  &:focus {
    background-color: white;
  }

  &::placeholder {
    font-style: italic;
  }
}

.search-btn {
  padding: 8px 22px !important;

  font-size: 15px !important;
}
